doctype html
html.
  <!doctype html>
  <html lang=en>
  <head>
  <title>3D Motion Detection Lock</title>
  <meta charset=utf-8>
  </head>
  <body>
  <style>
    body {
      margin: 0;
      overflow: hidden;
      text-align: center;
      background-color: #EDEDED;
    }
  </style>
  <script src='http://mrdoob.github.com/three.js/build/three.min.js'></script>
  <script src='http://mrdoob.github.com/three.js/examples/js/controls/OrbitControls.js'></script>
  <script src='http://mrdoob.github.com/three.js/examples/js/libs/stats.min.js'></script>
  <script src="http://js.leapmotion.com/0.2.0/leap.min.js"></script>
  <script type="text/javascript" src="https://js.leapmotion.com/leap-0.6.3.js"></script>
  <script type="text/javascript" src="https://js.leapmotion.com/leap-plugins-0.1.8.js"></script>
  <script type="text/javascript" src="https://js.leapmotion.com/leap.rigged-hand-0.1.4.min.js"></script>

  <script src='/js/three.js'></script>
  <script src='/js/motionDetect.js'></script>
  <script src='/js/leap.js'></script>
  </body>
  </html>