doctype html
html.
  <!doctype html>
  <html lang=en>
  <head>
  <title>3D Motion Detection Lock</title>
  <meta charset=utf-8>
  </head>
  <body>
  <style>
    body {
      margin: 0;
      overflow: hidden;
      text-align: center;
      background-color: #FAFAFA;
    }
  </style>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.js"></script>
  <script type="text/javascript" src="https://js.leapmotion.com/leap-0.6.3.js"></script>
  <script type="text/javascript" src="https://js.leapmotion.com/leap-plugins-0.1.8.js"></script>
  <script type="text/javascript" src="https://js.leapmotion.com/leap.rigged-hand-0.1.4.min.js"></script>
  <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/109794/TrackballControls.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
  <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  <script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>

  </body>
  <img id="pusheen" style='display: none;' src='/images/pusheen.jpg'>
  <img id="pusheen-dot" style='display: none;' src='/images/pusheen-dot.jpg'>
  <script src='/js/run/motionDetect.js'></script>
  <script src='/js/run/leap.js'></script>
  </html>