doctype html
html.
  <!doctype html>
  <html lang=en>
  <head>
  <title>3D Motion Detection Lock</title>
  <meta charset=utf-8>
  </head>
  <body>
  <style>
    body {
      margin: 0;
      overflow: hidden;
      text-align: center;
      background-color: #FAFAFA;
      font-family: Gill Sans Extrabold, sans-serif;
    }

    .text {
      margin-top: 20px;
      font-size: 20px;
    }

    #handLock {
      margin-top: 50px;
    }

    button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }

    #registerButton {
      position: absolute;
      float: right;
      right: 100px;
    }

    #registrationCount {
      display: none;
      color: #FF2541;
      position: absolute;
      left: 0;
      right: 0;
      margin: 20px auto;
    }

    #userNameForm {
      position: absolute;
      float: right;
      right: 100px;
      top: 120px;
      display: none;
      z-index: 400px;
    }

    ul {
      position: absolute;
      list-style-type: none;
      margin-top: 100px;
      text-align: left;
      left: 50px;
    }

    li {
      margin-bottom: 10px;
      font-size: 20px;
    }
  </style>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r67/three.js"></script>
  <script type="text/javascript" src="https://js.leapmotion.com/leap-0.6.3.js"></script>
  <script type="text/javascript" src="https://js.leapmotion.com/leap-plugins-0.1.8.js"></script>
  <script type="text/javascript" src="https://js.leapmotion.com/leap.rigged-hand-0.1.4.min.js"></script>
  <script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/109794/TrackballControls.js"></script>
  <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
  </body>
  <img id="pusheen" style='display: none;' src='/images/pusheen.jpg'>
  <img id="pusheen-dot" style='display: none;' src='/images/pusheen-dot.jpg'>
  <div id="handLock" class="text status">
    Hand: <b>Locked</b>
  </div>
  <div id="deviceLock" class="text status">
    Device: <b>Locked</b>
  </div>

  <div id="registrationCount" class="text"></div>
  <button id="registerButton" type="button" onClick="registerLock()">Register Lock</button>

  <ul>
    <li> Clench your fist to start drawing </li>
    <li> Clench your fist again to stop drawing </li>
    <li> Once in Lock mode, swipe left to undo </li>
    <li> Lower your hand to submit unlock request </li>
  </ul>
  <script src='/js/run/motionDetect.js'></script>
  <script src='/js/run/compressData.js'></script>
  <script src='/js/run/leap.js'></script>
  </html>